<header class="bg-lime-700 text-lime-50 relative top-0 z-50 flex flex-row py-4 items-center">
  <div class="ml-4 flex flex-row items-center justify-center">
    <div class="h-12 w-12 rounded-full bg-lime-50 border border-lime-800 border-opacity-80">
      <img src="/assets/pixel-logo.jpg" class="rounded-full">
    </div>
    <h1 class="text-lime-50 leading-4 text-2xl font-semibold ml-2">PixelTix</h1>

  </div>
  <div class="flex-grow"> </div>

  <div class="text-white pt-4">menu</div>
</header>

<main>
  <router-outlet></router-outlet>
</main>