/* You can add global styles to this file, and also import other style files */


$champagne: #EADAA2;
$sunglow: #FFD046;
$copper-red: #CE6C47;
$dark-red: #960200;
$russian-violet: #241E4E;

@tailwind base;
@tailwind components;
@tailwind utilities;